.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

// $serif: georgia,"times new roman",times,serif;
// $sans-serif: arial, helvetica, sans-serif;

.left-nav > ul > li {
  font-family: arial;
  font-size: 8.5px;
  text-transform: uppercase;
  font-weight: 800;
  padding: 5px;
}

.right-nav > ul > li {
  font-family: arial;
  font-size: 8.5px;
  text-transform: uppercase;
  font-weight: 800;
  margin: 0px 5px;
}

.right-nav > ul > li:last-of-type {

}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}

.left-nav span {
  margin: 5px;
}


.right-nav i {
  font-size: 12px;
}
